///colors
$primary-color: #fff;
$secondary-color: #333;
$button-color: #1d9ad1;
$button-color-accent: #5fb1d4;
$selected-color: #5fb1d4;
///fonts
$title-font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
$body-font: "Times New Roman", Times, serif;
