@import "../Variables/variables.scss";
.footer {
    width: 100%;
    height: 50px;
    background-color: $primary-color;
  
    border-bottom: 1px solid #f9f9f9;
    box-shadow: 5px 2px #e4e4e0;

    flex-shrink: 0;
  }